header.header
    .container
        .header__wrapper
            .header__logo.logo
                img.logo__img(src=logo, alt="")
                .logo__text
                    span.logo__name #{name}
                    span.logo__tagline #{tagline}
            .header__contacts.contacts 
                .contacts__mail
                    span.contacts__link #{mail_1}
                    span.contacts__link #{mail_2}
                    span.contacts__desc--light #{schedule}
                .contacts__phone
                    .contacts__phones
                        img.contacts__icon(src="assets/img/sprites/sprite.svg#phone", alt="phone")
                        div
                            span.contacts__text #{phone_1} 
                            span.contacts__text #{phone_2}
                    span.contacts__desc #{address}
        nav.topmenu
            ul.nav
                li.nav-item.topmenu__item()
                    a.nav-link.active(href="#") Главная
                li.nav-item.topmenu__item()
                    a.nav-link(href="#") О нас
                li.nav-item.topmenu__item()
                    a.nav-link(href="#") Деятельность
                li.nav-item.topmenu__item()
                    a.nav-link(href="#") Выполненные объекты
                li.nav-item.topmenu__item()
                    a.nav-link(href="#") Контакты
            .topmenu__popup
                a.topmenu__popup__link Заказать звонок

