footer.footer
    .container.footer__wrapper
        .row
            .col-3
                .footer__contacts
                    .footer__contacts__row.logo
                        .icon
                            img(src=logo, alt="")
                        .desc
                            .text
                                span.name #{name}
                                span.tagline #{tagline}
                    .footer__contacts__row.phone
                        .icon
                            img(src="assets/img/icons/phone.png", alt="phone")
                        .desc
                            .text
                                span #{phone_1}
                                span #{phone_2}
                    .footer__contacts__row.mail
                        .icon
                            img(src="assets/img/icons/email.png", alt="email")
                        .desc
                            .text
                                a(href="#").link #{mail_1}
                                a(href="#").link #{mail_2}
                    .footer__contacts__row.address
                        .icon
                            img(src="assets/img/icons/place.png", alt="place")
                        .desc
                            .text
                                span Санкт-Петербург,
                                    br
                                    | пр. Обуховской Обороны, д. 271.
                                    br
                                    | 3 этаж, офис 314
                    .footer__contacts__row.socials
                        .desc
                            span Присоединяйтесь
                            ul
                                li
                                    a(href="#")
                                        img(src="assets/img/icons/whatsapp.png" alt="whatsapp")
                                li
                                    a(href="#")
                                        img(src="assets/img/icons/telegram.png" alt="telegram")
                                li
                                    a(href="#")
                                        img(src="assets/img/icons/vk.png" alt="vk")
                                li
                                    a(href="#")
                                        img(src="assets/img/icons/instagram.png" alt="instagram")
            .col-9
                .footer__menu
                    .footer__menu__wrap
                        .footer__menu_inner
                            h4 Ремонт квартир
                            .list-tags
                                ul
                                    li
                                        span #закон
                                    li
                                        span #дом
                                    li
                                        span #советы
                                    li
                                        span #ипотека
                                    li
                                        span #покупка
                                    li
                                        span #архитектура

