footer.footer
  .container.footer__grid
    .footer__contacts
      h4.footer__title
        a(href="#") Контакты
      hr.footer__hr
      ul.footer__list
        li
          ion-icon.icon(name="call-outline")
          a.link(href='tel:' + phone_1) #{phone_1}
        li
          ion-icon.icon(name="call-outline")
          a.link(href='tel:' + phone_2) #{phone_2}
        li
          ion-icon.icon(name="mail-outline")
          a.link(href='mailto:' + mail) #{mail}
      a.footer__links.link(href="politics.pdf", target="_blank") политика конфиденциальности
    .footer__address
      h4.footer__title Адрес
      hr.footer__hr
      p.footer__text #{address}
    .footer__qr
      img(src="assets/img/global/qr-code.gif", alt="")
    .footer__socials
      ul
        each item in socials
          li
            a(href=item.href)
              ion-icon.icon(name='logo-' + item.name)
  .container.footer__copyright
    p Вся представленная на сайте информация, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ. При использовании любых материалов размещенных в телекоммуникационной сети Интернет на сайте по адресу http://pbgifts.ru/ ссылка на указанный сайт обязательна. Нарушение указанного требования будет расцениваться как нарушение защищаемых законом прав интеллектуальной собственности и прав на информацию. В таких случаях ООО "Постер Бизнес Гифтс" (администратор сайта) оставляет за собой право на защиту прав в судебном порядке в соответствии с законодательством РФ.
    p.centered ООО "Постер Бизнес Гифтс", Copyright ® 1998-2019
